<footer class="site-footer">
<div style="width: 75%; margin-left: 14%;">
<div style="text-align: justify;">
<p style="text-align: center;">you can send me an email at <span style="font-size: medium; color: #C00">shrivakanksha at gmail dot com</span></p>
<p style="text-align: center;"><a href="https://plus.google.com/u/0/+AkankshaShrivastava"><img class="alignnone wp-image-141 size-full" src="http://akankshashrvstv.files.wordpress.com/2014/03/google.png" alt="" width="32" height="32" /></a><a href="https://twitter.com/akanksha_shriv">  </a><a href="http://in.linkedin.com/pub/akanksha-shrivastava/4a/481/7a1"><img class="alignnone wp-image-142 size-full" src="http://akankshashrvstv.files.wordpress.com/2014/03/linkedin1.png" alt="" width="32" height="32" /></a><a href="https://twitter.com/akanksha_shriv">  </a><a href="http://twitter.com/akanksha_shriv"><img class="alignnone wp-image-143 size-full" src="http://akankshashrvstv.files.wordpress.com/2014/03/twitter1.png" alt="" width="32" height="32" /></a></p>

</div>
<a href="https://github.com/alixedi/typewriter">Typewriter</a> by <a href="http://twitter.com/alixedi">alixedi</a>
</footer>
